#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  height: 50vh;
}

.result {
  padding: 3%;
  /* background-color: rgb(255, 255, 252); */
  margin-bottom: 2%;
  font-size: larger;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.app {
  width: 40%;
  color: white;
  background-color: black;
  padding: 2%;
  border-radius: 20px;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  height: 100vh;
}
button {
  border-radius: 20px;
  box-shadow: 1px 1px 7px#564141;
}
